/*=================================================================
    1. Basic Setup
==================================================================*/

body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

/* + Sections Title
===================================== */

.section-title {
    margin-bottom: 50px;
}

.section-title h2 {
    text-transform: uppercase;
    margin: 0;
    font-weight: 700;
    margin-bottom: 20px;
}

.title-underline {
    display: block;
    width: 10px;
    height: 10px;
    margin: auto;
    position: relative;
    z-index: 3;
}

.title-underline:before {
    content: "";
    display: block;
    position: absolute;
    width: 127px;
    height: 2px;
    border-radius: 50%;
    background: -webkit-linear-gradient(-45deg, #f16996, #f1836a);
    background: -moz-linear-gradient(-45deg, #f16a96, #f1836a);
    background: -o-linear-gradient(-45deg, #f16a96, #f1836a);
    background: linear-gradient(-45deg, #f16a96, #f1836a);
    top: 9px;
    left: -58px;
    z-index: -1;
}

.title-underline:after {
    content: "";
    display: block;
    position: absolute;
    width: 162px;
    height: 2px;
    border-radius: 50%;
    background: -webkit-linear-gradient(-45deg, #f16a96, #f1836a);
    background: -moz-linear-gradient(-45deg, #f16a96, #f1836a);
    background: -o-linear-gradient(-45deg, #f16a96, #f1836a);
    background: linear-gradient(-45deg, #f16a96, #f1836a);
    top: 11px;
    right: -75px;
    z-index: -1;
}

.title-underline i {
    background: -webkit-linear-gradient(-45deg, #f16a96, #f1836a);
    background: -moz-linear-gradient(-45deg, #f16a96, #f1836a);
    background: -o-linear-gradient(-45deg, #f16a96, #f1836a);
    background: linear-gradient(-45deg, #f16a96, #f1836a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* + BUTTONS
===================================== */

.bttn-gradient {
    background: #FFF;
    display: inline-block;
    padding: 14px 28px;
    text-decoration: none;
    border-radius: 4px;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
    text-transform: uppercase;
    font-weight: 700;
    -webkit-box-shadow: 0 1px 5px rgba(2, 3, 3, 0.15);
    -moz-box-shadow: 0 1px 5px rgba(2, 3, 3, 0.15);
    -o-box-shadow: 0 1px 5px rgba(2, 3, 3, 0.15);
    box-shadow: 0 1px 5px rgba(2, 3, 3, 0.15);
    letter-spacing: 0.7px;
    border: 0;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 3;
}

.bttn-gradient:hover span,
.bttn-gradient span,
.bttn-gradient i {
    background: #f1836a;
    background: -webkit-linear-gradient(-45deg, #f16a96, #f1836a);
    background: -moz-linear-gradient(-45deg, #f16a96, #f1836a);
    background: -o-linear-gradient(-45deg, #f16a96, #f1836a);
    background: linear-gradient(-45deg, #f16a96, #f1836a);
    -webkit-background-clip: text;
    color: transparent;
}

.bttn-gradient i {
    margin-right: 10px;
    font-size: 17px;
}

.bttn-gradient:hover > i {
    color: #FFF;
    background: transparent;
    position: relative;
    z-index: 2;
}

.bttn-gradient:before {
    background: #f1836a !important;
    background: -webkit-linear-gradient(-45deg, #f16a96, #f1836a) !important;
    background: -moz-linear-gradient(-45deg, #f16a96, #f1836a) !important;
    background: -o-linear-gradient(-45deg, #f16a96, #f1836a) !important;
    background: linear-gradient(-45deg, #f16a96, #f1836a) !important;
    color: #FFF !important;
}

.bttn-gradient:hover,
.bttn-gradient:focus,
.bttn-gradient:active {
    text-decoration: none;
    outline: none;
}

.bttn-gradient {
    color: #FFF;
    background: transparent;
}

.bttn-gradient:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 4px;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}

.bttn-gradient span {
    position: relative;
    z-index: 2;
}

.bttn-gradient:hover {
    background: #FFF;
}

.bttn-gradient:hover:before {
    opacity: 0;
}

.bttn-gradient {
    background: #FFF;
}

.bttn-gradient:before {
    opacity: 0;
}

.bttn-gradient:hover {
    background: transparent;
}

.bttn-gradient:hover span {
    color: #FFF;
    background: transparent;
}

.bttn-gradient:hover:before {
    opacity: 1;
}

.bttn-gradient:hover {
    -webkit-box-shadow: 0 3px 25px rgba(2, 3, 3, 0.25);
    -moz-box-shadow: 0 3px 25px rgba(2, 3, 3, 0.25);
    -o-box-shadow: 0 3px 25px rgba(2, 3, 3, 0.25);
    box-shadow: 0 3px 25px rgba(2, 3, 3, 0.25);
}


/* + Social Links
===================================== */

.social-gradient {
    background: #FFF;
    display: inline-block;
    margin: 0 5px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    border-radius: 50px;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
    text-transform: uppercase;
    font-weight: 700;
    -webkit-box-shadow: 0 1px 5px rgba(2, 3, 3, 0.15);
    -moz-box-shadow: 0 1px 5px rgba(2, 3, 3, 0.15);
    -o-box-shadow: 0 1px 5px rgba(2, 3, 3, 0.15);
    box-shadow: 0 1px 5px rgba(2, 3, 3, 0.15);
    letter-spacing: 0.7px;
    border: 0;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 3;
}

.social-gradient i {
    background: #f1836a;
    background: -webkit-linear-gradient(-45deg, #f16a96, #f1836a);
    background: -moz-linear-gradient(-45deg, #f16a96, #f1836a);
    background: -o-linear-gradient(-45deg, #f16a96, #f1836a);
    background: linear-gradient(-45deg, #f16a96, #f1836a);
    -webkit-background-clip: text;
    color: transparent;
}

.social-gradient:hover > i {
    color: #FFF;
    background: transparent;
    position: relative;
    z-index: 2;
}

.social-gradient:before {
    background: #f1836a;
    background: -webkit-linear-gradient(-45deg, #f16a96, #f1836a) ;
    background: -moz-linear-gradient(-45deg, #f16a96, #f1836a) ;
    background: -o-linear-gradient(-45deg, #f16a96, #f1836a) ;
    background: linear-gradient(-45deg, #f16a96, #f1836a) ;
    color: #FFF;
}

.social-gradient:hover,
.social-gradient:focus,
.social-gradient:active {
    text-decoration: none;
    outline: none;
}

.social-gradient {
    color: #FFF;
    background: transparent;
}

.social-gradient:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50px;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}

.social-gradient:hover {
    background: #FFF;
}

.social-gradient:hover:before {
    opacity: 0;
}

.social-gradient {
    background: #FFF;
}

.social-gradient:before {
    opacity: 0;
}

.social-gradient:hover {
    background: transparent;
}

.social-gradient:hover:before {
    opacity: 1;
}

.social-gradient:hover {
    -webkit-box-shadow: 0 3px 25px rgba(2, 3, 3, 0.25);
    -moz-box-shadow: 0 3px 25px rgba(2, 3, 3, 0.25);
    -o-box-shadow: 0 3px 25px rgba(2, 3, 3, 0.25);
    box-shadow: 0 3px 25px rgba(2, 3, 3, 0.25);
}


/* + Sections Overlay
===================================== */

.overlay {
    height: 100%;
    width: 100%;
    background: -webkit-linear-gradient(-45deg, rgba(241, 105, 150, .9), rgba(241, 131, 106, .99));
    background: -moz-linear-gradient(-45deg, rgba(241, 105, 150, .9), rgba(241, 131, 106, .99));
    background: -o-linear-gradient(-45deg, rgba(241, 105, 150, .9), rgba(241, 131, 106, .99));
    background: linear-gradient(-45deg, rgba(241, 105, 150, .9), rgba(241, 131, 106, .99));
}

/* + Headers Style
===================================== */

/* cloud */
#home.cloud:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 75px;
    width: 100%;
    background: url(/img/svg/cloud.svg);
    z-index: 10;
    background-size: 218vh 100%;
}

/* Carousel Header */
.pd-carousel {
    padding-top: 174px
}
.pd-carousel .header-content {
    text-align: center
}
.pd-carousel .header-content .bttn-head {
    margin-top: 40px;
}

.pd-carousel .header-content .bttn-head a {
    margin: 0 15px;
    position: relative
}

.pd-carousel .header-content .bttn-head a i {
    color: #fff;
    font-size: 24px;
    width: 50px;
    height: 50px;
    background-color: rgba(255,255,255,.1);
    line-height: 50px;
    border-radius: 50%;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.pd-carousel .header-content .bttn-head a i:hover {
    background-color: rgba(255,255,255,.2);
}

.pd-carousel .header-content .bttn {
    margin-top: 50px;
}

.pd-carousel .header-content .bttn a:first-child {
    margin-right: 20px
}

.pd-carousel .header-content .bttn-head a:hover:before {
  bottom: -45px;
  opacity: 1;
}

.pd-carousel .header-content .bttn-head a:before {
  position: absolute;
  bottom: -40px;
  left: -29px;
  background: rgba(255,255,255,.2);
  width: 105px;
  color: #fff;
  font-size: 12px;
  padding: 4px 10px;
  border-radius: 3px;
  content: attr(data-tooltip);
  opacity: 0;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}


.pd-carousel .word {
    justify-content: center;
}

/* Phone Carousel */

.phone-carousel {
    max-width: 400px;
    height: 510px;
    margin: auto;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.phone-carousel .phone {
    position: relative;
    z-index: 5;
    width: 100%;
}

.phone-carousel .phone .inner {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 26.5% 11.75% 0 11.75%;
}

.phone-carousel .owl-theme .owl-dots {
    position: absolute;
    top: 50%;
    right: 0;
    margin: 0 !important;
    z-index: 10;
}

.phone-carousel .owl-theme .owl-dots .owl-dot {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid transparent;
    opacity: 0.5;
    margin: 0 4px 7px 4px;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
    display:  block;
}

.phone-carousel .owl-theme .owl-dots .owl-dot.active {
    background-color: transparent;
    border-color: #fff;
    -webkit-transform: scale(1.35);
    -moz-transform: scale(1.35);
    -ms-transform: scale(1.35);
    -o-transform: scale(1.35);
    transform: scale(1.35)
}

.phone-carousel .owl-theme .owl-dots .owl-dot span {
    display: none
}

/*=================================================================
    2. Navigation Bar
==================================================================*/

.nav-sec {
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    padding-top: 22px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.navbar-fixed-top {
    border-radius: 0;
}

.nav-sec .navbar-nav {
    padding-left: 15px;
    padding-right: 0;
}

.nav-sec .navbar-nav > li > a {
    line-height: 66px;
    padding: 0 10px !important;
}

.nav-sec .container > .navbar-header {
    margin-right: 0;
    margin-left: 0;
}

.nav-sec > .container-fluid .navbar-brand {
    margin-left: 0;
}

.nav-sec .navbar-toggle {
    margin: 0;
    border: 0;
    padding: 15px 5px;
}

.nav-sec .navbar-collapse {
    text-align: center;
    padding-right: 0;
    padding: 0;
    overflow-x: hidden;
}

.nav-sec .navbar-brand > div {
    color: #fff;
    padding: 0.8rem;
}

.nav-sec .navbar-toggle .icon-bar {
    background: #fff;
    width: 25px;
    height: 2px;
    margin: 5px 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

/* Default Navbar */

.nav-sec {
    background-color: transparent;
    border: none;
}

.nav-sec .top-nav-collapse {
    background-color: white;
}

.nav-sec.top-nav-collapse {
    background: #ffffff;
    background: -webkit-linear-gradient(-45deg, #f16a96, #f1836a);
    background: -moz-linear-gradient(-45deg, #f16a96, #f1836a);
    background: -o-linear-gradient(-45deg, #f16a96, #f1836a);
    background: linear-gradient(-45deg, #f16a96, #f1836a);
    color: #fff;
    -webkit-box-shadow: 1px 1px 3px rgba(80, 80, 80, 0.1);
    -moz-box-shadow: 1px 1px 3px rgba(80, 80, 80, 0.1);
    -o-box-shadow: 1px 1px 3px rgba(80, 80, 80, 0.1);
    box-shadow: 1px 1px 3px rgba(80, 80, 80, 0.1);
    padding: 10px 0;
}

.nav-sec .nav-transparent {
    background-color: transparent;
}

.nav-sec .navbar-nav > li > a {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    color: rgba(255,255,255,.7);
    letter-spacing: 1px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.nav-sec .navbar-nav > li > a:hover {
    color: #fff;
}

.nav-sec .navbar-nav > li > a:focus {
    color: #fff !important;
}

.nav-sec .navbar-nav > .active > a,
.nav-sec .navbar-nav > .active > a:focus,
.nav-sec .navbar-nav > .active > a:hover {
    color: #fff;
    background-color: transparent;
}

.nav-sec .navbar-toggle .icon-bar {
    background-color: #fff;
}

.nav-sec .navbar-toggle {
    border-color: transparent;
}

.nav-sec .navbar-toggle:hover,
.nav-sec .navbar-toggle:focus {
    background-color: transparent;
}

.top-nav-collapse .nav li a {
    color: rgba(255,255,255,.7);
}

.top-nav-collapse .nav li.active a {
    color: #fff;
}

.top-nav-collapse .navbar-nav > li > a:hover,
.top-nav-collapse .navbar-nav > li > a:focus {
    background-color: transparent;
    color: #fff;
}


/* End Default Navbar */

@media only screen and (max-width: 767px) {
    .nav-sec .navbar-nav {
        padding-left: 0;
        width: 100%;
        margin: 0;
    }
    .nav-sec {
        padding-top: 15px
    }
    .nav-sec .navbar-nav > li > a {
        line-height: 50px;
        padding: 0 !important;
    }
    .nav-sec .navbar-collapse,
    .navbar-default .navbar-form {
        border-color: transparent;
    }
}

@media only screen and (min-width: 768px) {
    .nav-sec .navbar-nav {
        float: right;
    }
    .nav-sec .navbar-nav {
        float: none;
    }
    .nav-sec .navbar-nav > li {
        float: none;
        display: inline-block;
    }
    .nav-sec > li > a {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .nav-sec > .container .navbar-brand {
        margin-left: 0;
    }
}


/*=================================================================
    3. Header
==================================================================*/

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin: 0;
}

#home {
    background: url(/img/bg/wearables.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: relative
}

.header-inner {
    display: table;
    height: 704px;
    width: 100%;
}

.header-content {
    position: relative;
    display: table-cell;
    vertical-align: middle;
}

/* Header Word */
.word {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	margin: 0;
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.word--magneto {
	font-size: 60px;
	font-weight: 900;
	text-transform: uppercase;
	color: #fff;
	line-height: 0.8;
	margin: 0 0 1em 0;
}

.header-content h1 {
    font-size: 50px;
    font-weight: 800;
    color: #fff;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.header-content h4 {
    color: #fff;
    font-size: 23px;
    line-height: 35px;
    font-weight: 100;
}

.header-content .bttn-head {
    margin-top: 30px;
    z-index: 99;
    position: relative;
}

.header-content .bttn-head a:first-child {
    margin-right: 20px;
}

.photo-header img {
    position: relative;
    z-index: 20;
    top: 164px;
    width: 462px;
}

/*=================================================================
    4. About App
==================================================================*/

.about {
    padding: 100px 0;
    background-color: #fff;
}

.about .mobile-features {
    padding: 0 65px
}

.about .mobile-features .features-photo {
    float: left;
    position: relative
}

.about .mobile-features .features-slider:after {
    content: '';
    display: block;
    position: absolute;
    width: 437px;
    height: 437px;
    border-radius: 50%;
    top: 69px;
    left: 59px;
    z-index: -1;
    border-right: 1px dashed #ccc;
}

.about .mobile-features .nav {
    float: left;
    padding-right: 20px;
}

.about .mobile-features .tab-content {
    display: inline-block;
    margin-left: 245px;
    width: 70%;
    position: relative;
    padding: 200px 0;
}

.about .mobile-features .nav-pills>li>a {
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 0;
    line-height: 50px;
    border-radius: 50%;
    position: absolute;
    text-decoration: none;
    color: #fff;
    background: #ddd;
    z-index: 1
}

.about .mobile-features .nav-pills>li>a:hover {
    background: -webkit-linear-gradient(-45deg, #f16a96, #f1836a);
    background: -moz-linear-gradient(-45deg, #f16a96, #f1836a);
    background: -o-linear-gradient(-45deg, #f16a96, #f1836a);
    background: linear-gradient(-45deg, #f16a96, #f1836a);
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.about .mobile-features .nav-pills>li.active-icon>a {
    background: -webkit-linear-gradient(-45deg, #f16a96, #f1836a);
    background: -moz-linear-gradient(-45deg, #f16a96, #f1836a);
    background: -o-linear-gradient(-45deg, #f16a96, #f1836a);
    background: linear-gradient(-45deg, #f16a96, #f1836a);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.about .mobile-features .nav-pills>li>a i {
    color: #fff;
    font-size: 20px;
    line-height: 50px;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.about .mobile-features .nav-pills>li:nth-child(1) > a {
    top: 66px;
    left: 15px;
}

.about .mobile-features .nav-pills>li:nth-child(2) > a {
    top: 138px;
    left: 100px;
}

.about .mobile-features .nav-pills>li:nth-child(3) > a {
    top: 256px;
    left: 134px;
}

.about .mobile-features .nav-pills>li:nth-child(4) > a {
    top: 382px;
    left: 100px;
}

.about .mobile-features .nav-pills>li:nth-child(5) > a {
    top: 454px;
    left: 15px;
}

.about .mobile-features .tab-content>.tab-pane h4 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600
}

.about .mobile-features .tab-content>.tab-pane h4 span {
    color: #f1836a
}

.about .mobile-features .tab-content>.tab-pane p {
    font-size: 15px;
    line-height: 26px;
}


/*Mobile*/

.about .mobile-features .features-slider {
    padding: 71px 26px 85px 20px;
    background: rgba(0, 0, 0, 0) url(/img/phones/screen_trans.png) no-repeat scroll top center;
    background-size: 100%;
    max-width: 293px;
    margin: 0 auto;
    margin-top: 0;
    position: relative
}

.about .mobile-features .features-slider .owl-nav {
    margin-top: 100px
}

.about .mobile-features .features-slider.owl-carousel .owl-item img {
    max-width: 247px;
}

/*=================================================================
    5. Features App
==================================================================*/

.features {
    background: -webkit-linear-gradient(-45deg, #f16a96, #f1836a);
    background: -moz-linear-gradient(-45deg, #f16a96, #f1836a);
    background: -o-linear-gradient(-45deg, #f16a96, #f1836a);
    background: linear-gradient(-45deg, #f16a96, #f1836a);
    color: #fff;
    padding: 100px 0;
    position: relative;
}

.features:after, .video-app:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 75px;
    width: 100%;
    background: url(/img/svg/cloud.svg);
    background-size: 218vh 100%;
    z-index: 2;
}

.features .single-feat.first-feat {
    margin-bottom: 40px
}

.features .feat-left .single-feat .icon-place {
    float: right;
    margin-left: 20px;
}

.features .feat-left .single-feat .feat-text {
    text-align: right;
}

.features .feat-right .single-feat .icon-place {
    float: left;
    margin-right: 20px;
}

.features .feat-right .single-feat .feat-text {
    text-align: left;
}

.features .feat-center img {
    width: 290px;
    height: 591.16px;
    position: absolute;
    top: -169px;
    left: 13%;
    z-index: 3;
}

.features .single-feat .feat-text {
    display: table;
}

.features .single-feat .icon-place i {
    font-size: 45px;
    color: #fff
}

.features .single-feat .feat-text h4 {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 600
}

.features .single-feat .feat-text p {
    font-size: 15px;
    line-height: 22px;
}

/*=================================================================
    6. Screenshots App
==================================================================*/

.screenshots {
    padding: 160px 0 100px;
}

.screenshots .section-title {
    margin-bottom: 0
}

.screenshots .all-outer {
    position: relative
}

.screenshots .owl-carousel .owl-stage {
    overflow: hidden
}

.screenshots .owl-carousel .owl-item {
    float: left;
    -webkit-transform: scale(.52, .5);
    -moz-transform: scale(.52, .5);
    -o-transform: scale(.52, .5);
    transform: scale(.52, .5);
    opacity: .6;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

.screenshots .owl-carousel .active.center {
    opacity: 1;
    -webkit-transform: scale(.62, .6);
    -moz-transform: scale(.62, .6);
    -o-transform: scale(.62, .6);
    transform: scale(.62, .6);
    top: 0;
    position: relative;
    z-index: 15;
    left: -2px
}

.screenshots .owl-carousel .owl-dots {
    margin-top: -30px
}

.screenshots .owl-carousel .owl-dots .active,
.screenshots .owl-carousel .owl-dots .owl-dot span {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    margin: 0;
    margin-right: 5px;
    cursor: pointer;
    opacity: .3
}

.screenshots .owl-carousel .owl-dots .active,
.screenshots .owl-carousel .owl-dots .owl-dot:hover {
    opacity: 1
}

.screenshots .container .image-mock img {
    position: absolute;
    top: 75px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: -1
}

.img-responsive,
.screenshots .carousel-inner>.item>a>img,
.screenshots .carousel-inner>.item>img,
.thumbnail a>img,
.thumbnail>img {
    margin: 0 auto
}

.screenshots .owl-next,
.screenshots .owl-prev {
    width: 35px;
    height: 35px;
    line-height: 35px;
    cursor: pointer;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    color: #fff;
    background: -webkit-linear-gradient(-45deg, #f16a96, #f1836a) !important;
    background: -moz-linear-gradient(-45deg, #f16a96, #f1836a) !important;
    background: -o-linear-gradient(-45deg, #f16a96, #f1836a) !important;
    background: linear-gradient(-45deg, #f16a96, #f1836a) !important;
    border-radius: 50%;
    -webkit-transition: all .5s ease-in-out 0s;
    -moz-transition: all .5s ease-in-out 0s;
    -o-transition: all .5s ease-in-out 0s;
    transition: all .5s ease-in-out 0s;
    padding: 0 !important;
}

.screenshots .owl-next:hover,
.screenshots .owl-prev:hover {
    -webkit-box-shadow: 0 3px 25px rgba(2, 3, 3, 0.25);
    -moz-box-shadow: 0 3px 25px rgba(2, 3, 3, 0.25);
    -o-box-shadow: 0 3px 25px rgba(2, 3, 3, 0.25);
    box-shadow: 0 3px 25px rgba(2, 3, 3, 0.25);
    background: #fff !important;
    color: #f1836a !important;
}

.screenshots .owl-theme .owl-nav {
    margin: 0;
    margin-left: 34px;
}

@media (max-width:1200px) {
    .screenshots .owl-carousel .active.center {
        -webkit-transform: scale(.75, .73);
        -moz-transform: scale(.75, .73);
        -o-transform: scale(.75, .73);
        transform: scale(.75, .73)
    }
    .screenshots .container .image-mock img {
        top: 18px
    }
    .screenshots .owl-carousel .owl-dots {
        margin-top: 25px!important
    }
}

@media (max-width:992px) {
    .screenshots .container .image-mock img {
        top: 10px
    }
}

@media (max-width:767px) {
    .screenshots .container .image-mock img {
        display: none
    }
    .screenshots .owl-carousel .owl-item,
    .screenshots .owl-carousel .owl-item.active {
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
        padding: 0 25px 15px
    }
    .screenshots .owl-carousel .active img {
        margin-left: auto;
        margin-right: auto
    }
    .screenshots .owl-carousel .owl-dots {
        margin-top: -10px
    }
}

/*=================================================================
    7. Wearable
==================================================================*/

.quote {
    font-size: 5rem;
}

.ql {
    text-align: left;
    color: rgb(241, 131, 106);
}

.qr {
    text-align: right;
    color: rgb(241, 105, 150);
}

.wearable {
    padding-top: 60px;
    padding-bottom: 120px;
}

.wearable p {
    font-size: 2.6rem;
    margin-top: 0;
}

.wearable p span {
    color: rgb(241, 105, 150);
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .wearable {
        padding-bottom: 100px;
    }    
}

/* Mobile */
@media only screen and (max-width: 767px) {
    .wearable {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .wearable p {
        font-size: 2rem;
        margin-top: 1.5rem;
    }
}

/*=================================================================
    8. Video App
==================================================================*/

.video-app {
    background: url(/img/bg/wearables.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    display: block;
    
}

.video-app .overlay {
    padding-top: 80px;
    padding-bottom: 100px;
}

.video-app .title-underline:before,
.video-app .title-underline:after {
    background: white;
}

.video-app .title-underline i {
    background: none;
    -webkit-text-fill-color: white;
}

.video-app .play-btn {
    padding: 2px;
    border-radius: 100%;
    margin-bottom: 50px;
    outline: none;
    display: inline-block;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

.video-app .play-btn:hover {
    -webkit-box-shadow: 0 0 0 3px #fff;
    -moz-box-shadow: 0 0 0 3px #fff;
    -o-box-shadow: 0 0 0 3px #fff;
    box-shadow: 0 0 0 3px #fff
}

.video-app .section-title h2 {
    color: #fff
}

.video-app p {
    color: #fff;
    line-height: 28px;
    font-size: 18px;
    width: 550px;
    margin: auto;
}

/*=================================================================
    9. Faqs
==================================================================*/

.faqs {
    padding: 100px 0;
    background-color: #fff;
}

.faqs .faqs-img {
    padding: 47px 0;
}

.faqs .faqs-img img {
    width: 452px;
    height: 386.81px;
}

.faq-content-wrapper {
    position: relative;
}

.faq-content-wrapper:before {
    background: -webkit-linear-gradient(-45deg, #f16a96, #f1836a);
    background: -moz-linear-gradient(-45deg, #f16a96, #f1836a);
    background: -o-linear-gradient(-45deg, #f16a96, #f1836a);
    background: linear-gradient(-45deg, #f16a96, #f1836a);
    content: "";
    height: calc(100% - 60px);
    left: -40px;
    position: absolute;
    top: 30px;
    width: 2px;
    border-radius: 50%;
}

.faqs .panel-heading:before {
    border-radius: 50px;
    border: 2px solid #f1836a;
    background: #fff;
    content: "";
    height: 15px;
    left: -48px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 15px;
}

.faqs .faq-right-img-mockup {
    left: -200px;
    position: absolute;
}

.faqs .panel-group {
    margin: 0;
}

.faqs #accordion.panel-group .panel {
    border-radius: 0;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    margin-top: 30px;
    position: relative;
}

.faqs .panel:before {
    background: -webkit-linear-gradient(-45deg, #f16a96, #f1836a);
    background: -moz-linear-gradient(-45deg, #f16a96, #f1836a);
    background: -o-linear-gradient(-45deg, #f16a96, #f1836a);
    background: linear-gradient(-45deg, #f16a96, #f1836a);
    content: "";
    height: 100%;
    left: -2px;
    position: absolute;
    top: 0;
    width: 2px;
}

.faqs #accordion .panel:first-child {
    margin-top: 0;
}

.faqs .panel-group .panel-body {
    border: 0 none;
    padding: 0 30px 10px;
}

.faqs #accordion .panel-body {
    border: 0 none;
}

.faqs #accordion .panel-body p {
    line-height: 1.8em;
}

.faqs .panel-heading {
    border: 0 none;
    border-radius: 0;
    margin: 0;
    padding: 20px 30px;
    position: relative;
}

.faqs .panel-title {
    color: #30373e;
    font-size: 18px;
}

.faqs .panel-title a {
    color: inherit;
    display: block;
    position: relative;
    text-decoration: none
}

.faqs .panel-title a.collapsed:after {
    font-family: wearandshare;
    content: "\e910";
    background: -webkit-linear-gradient(-45deg, #f16a96, #f1836a);
    background: -moz-linear-gradient(-45deg, #f16a96, #f1836a);
    background: -o-linear-gradient(-45deg, #f16a96, #f1836a);
    background: linear-gradient(-45deg, #f16a96, #f1836a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.faqs .panel-title a:after {
    background: -webkit-linear-gradient(-45deg, #f16a96, #f1836a);
    background: -moz-linear-gradient(-45deg, #f16a96, #f1836a);
    background: -o-linear-gradient(-45deg, #f16a96, #f1836a);
    background: linear-gradient(-45deg, #f16a96, #f1836a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: wearandshare;
    content: "\e911";
    font-size: 12px;
    font-weight: normal;
    height: 22px;
    line-height: 20px;
    position: absolute;
    right: -22px;
    text-align: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 22px;
}

/*=================================================================
    10. Footer
==================================================================*/

.errors {
    margin-top: 1rem; 
}

.error-msg {
    display: none;
}

.errors div {
    max-width: 500px;
    margin: auto;
    padding: 1.1rem;
    background: white;
    border-radius: 2rem;
}

.errors p {
    margin: 0 auto;
}

.errors p span {
    color: #f16a96;
}

.footer {
    padding: 50px 0;
    background-color: #222;
}

.footer .icon-logo-large {
    color: white;
    font-size: 2rem;
}

/* ================ Subscribe Box ================ */

.subscribe-box .subscribe-text {
    margin: 0 auto 40px;
    max-width: 710px;
    text-align: center;
    width: 100%;
}

.subscribe-box .subscribe-text h4 {
    color: #ffffff;
    font-size: 18px;
    margin: 0 0 15px;
    font-weight: 700;
    text-transform: uppercase;
}

.subscribe-box .subscribe-form {
    margin: auto;
    max-width: 500px;
    position: relative;
    width: 100%;
}

.subscribe-box .subscribe-form {
    height: 48px;
    position: relative;
}

.subscribe-box .subscribe-form.name-email input {
    background: #fff none repeat scroll 0 0;
    color: #333;
    height: 48px;
    line-height: 48px;
    margin: 0;
    padding-left: 25px;
    padding-right: 75px;
    font-weight: 300;
    border: none;
    outline: none;
}

.subscribe-box .subscribe-form button.btn {
    background: transparent none repeat scroll 0 0;
    border-radius: 0;
    float: right;
    height: 48px;
    line-height: 48px;
    padding: 0;
    position: absolute;
    right: 3px;
    top: 3px;
    width: 68px;
    z-index: 2;
    overflow: hidden;
    outline: none;
    border: none
}

.subscribe-box .subscribe-form button.btn:hover {
    box-shadow: none;
}

.subscribe-box .subscribe-form button i {
    font-size: 18px;
    position: relative;
    top: 2px;
    transition: .3s;
}

.subscribe-box .name-email input {
    font-weight: 400;
    line-height: 28px;
    color: #888888;
    width: 100%;
    padding: 0 0 0 18px;
    margin-bottom: 25px;
    background: #f6f6f6;
    border-radius: 50px;
}

.subscribe-box .custom-input button.btn {
    background: #f1836a;
    background: -webkit-linear-gradient(-45deg, #f16a96, #f1836a);
    background: -moz-linear-gradient(-45deg, #f16a96, #f1836a);
    background: -o-linear-gradient(-45deg, #f16a96, #f1836a);
    background: linear-gradient(-45deg, #f16a96, #f1836a);
    border-radius: 50px;
    color: #ffffff;
    height: 42px;
    line-height: 42px;
    box-shadow: none;
    font-size: 14px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}


/* ================ Subscribe Box ================ */

.logo-footer {
    text-align: center;
    margin-top: 50px;
}

.logo-footer a img {
    width: 80px;
    height: 68.8px;
    max-width: 80px;
}


/* ================ Social Links ================ */

.footer .social-footer {
    margin-top: 50px;
}


/* ================ Copyright ================ */

.footer .copyright {
    margin-top: 30px
}

.footer .copyright p {
    color: #fff;
    font-weight: 600;
    margin: 0
}

.footer .copyright p a {
    text-decoration: none;
    color: #f1836a;
    text-transform: uppercase
}

.footer .copyright p a:hover {
    -webkit-transition: all .5s ease-in-out 0s;
    -moz-transition: all .5s ease-in-out 0s;
    -o-transition: all .5s ease-in-out 0s;
    transition: all .5s ease-in-out 0s;
    color: #fff
}


/* ================ Back To Top ================ */

#scroll-top {
    bottom: -50px;
    position: fixed;
    right: 9px;
    display: block;
    cursor: pointer;
    z-index: 600;
    width: 40px;
    border-radius: 50%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: -webkit-linear-gradient(-45deg, #f16a96, #f1836a);
    background: -moz-linear-gradient(-45deg, #f16a96, #f1836a);
    background: -o-linear-gradient(-45deg, #f16a96, #f1836a);
    background: linear-gradient(-45deg, #f16a96, #f1836a);
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    border: solid 1px rgba(255, 255, 255, 0.3);
}

#scroll-top.show {
    bottom: 15px;
}

#scroll-top i {
    color: #fff;
    font-size: 17px;
}

#scroll-top:hover {
    color: #fff;
}

/*=================================================================
    11. Not Found Page [404 Page]
==================================================================*/

.not-found-page .overlay {
    padding: 132px 0 0;
    min-height: 100vh;
}

.text-not-found {
    text-align: center;
    margin-bottom: 40px;
}

.text-not-found h4 {
    font-size: 40px;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
    position: relative;
}

.text-not-found h4:after {
    content: '';
    display: block;
    position: absolute;

}

.text-not-found h1 {
    font-weight: 900;
    font-size: 13em;
    color: #fff;
    margin-bottom: 20px;
}

.text-not-found p {
    color: #fff;
    font-size: 16px;
    width: 400px;
    margin: auto;
    line-height: 26px;
}

.button-not-found {
    text-align: center
}

.button-not-found .bttn-gradient {
    margin: 10px
}

/*=================================================================
    12. Preloader
==================================================================*/

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(-45deg, #f16a96, #f1836a);
    background: -moz-linear-gradient(-45deg, #f16a96, #f1836a);
    background: -o-linear-gradient(-45deg, #f16a96, #f1836a);
    background: linear-gradient(-45deg, #f16a96, #f1836a);
    z-index: 99999;
}

.loading-inner {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}

.loading-inner div {
    position: absolute;
    -webkit-animation: loading-shadow 3.1s linear infinite;
    animation: loading-shadow 1.1s linear infinite;
    width: 160px;
    height: 160px;
    top: 20px;
    left: 20px;
    border-radius: 50%;
    box-shadow: 0 5px 2px 0 rgba(29,14,11,.22);
    -webkit-box-shadow: 0 5px 2px 0 rgba(29,14,11,.22);
    -webkit-transform-origin: 80px 82px;
    transform-origin: 80px 82px;
}

@keyframes loading-shadow {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.loading-inner img {
    position: absolute;
    max-width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -webkit-animation: fade-in 0.5s linear;
    animation: fade-in 0.5s linear;
}

@keyframes fade-in { 
    from { opacity: 0; } 
}

@media only screen and (max-width: 767px) { 
    .loading-inner {
        width: 100px;
        height: 100px;
    }

    .loading-inner div {
        width: 100px;
        height: 100px;
        top: 0px;
        left: 0px;
        transform-origin: 50px 52px;
    }
}

.separator {
    height: 3px;
    background: -webkit-linear-gradient(45deg, rgb(241, 131, 106), rgb(241, 105, 150));
    background: -moz-linear-gradient(45deg, rgb(241, 131, 106), rgb(241, 105, 150));
    background: -o-linear-gradient(45deg, rgb(241, 131, 106), rgb(241, 105, 150));
    background: linear-gradient(45deg, rgb(241, 131, 106), rgb(241, 105, 150));
}




/*=================================================================
    13. Responsive
==================================================================*/


/* Medium Layout: 1280px. */

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .about .mobile-features .features-slider.owl-carousel .owl-item img {
        height: 374px;
    }
    .about .mobile-features .features-slider:after {
        width: 437px;
        height: 379px;
        top: 58px;
        left: 3px;
    }
    .about .mobile-features .nav-pills>li:nth-child(1) > a {
        top: 53px;
    }
    .about .mobile-features .nav-pills>li:nth-child(2) > a {
        top: 118px
    }
    .about .mobile-features .nav-pills>li:nth-child(3) > a {
        top: 222px
    }
    .about .mobile-features .nav-pills>li:nth-child(4) > a {
        top: 325px;
    }
    .about .mobile-features .nav-pills>li:nth-child(5) > a {
        top: 389px;
    }
    .about .mobile-features .features-slider {
        padding: 61px 25px 106px 17px;
    }
    .features .feat-center img {
        left: 7%;
    }
    .screenshots .all-outer {
        margin-top: 50px
    }
    .screenshots .owl-theme .owl-nav {
        margin-top: 40px
    }
    .faqs .faqs-img img {
        width: 348px;
        float: left;
        height: auto
    }
    .faqs .faqs-img {
        padding: 100px 0;
    }
    .about .mobile-features .tab-content {
        width: 62%
    }
    .our-story .story-text p {
        width: auto
    }
}


/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-content h4 {
        font-size: 18px;
        line-height: 29px;
    }
    /*    Navbar*/
    .nav-sec .navbar-nav > li > a {
        padding: 0 7px !important
    }
    /*  About  */
    .about .mobile-features .owl-carousel .owl-item img {
        width: 100% !important
    }
    .about .mobile-features .features-slider {
        padding: 66px 26px 106px 18px;
    }
    .about .mobile-features .nav-pills>li>a {
        position: static;
    }
    .about .mobile-features .nav-stacked>li {
        float: none;
        display: inline-block;
        margin: 0 10px;
    }
    .about .mobile-features {
        padding: 0
    }
    .about .mobile-features .nav {
        padding: 0;
        float: none;
        text-align: center
    }
    .about .mobile-features .features-slider.owl-carousel .owl-item img {
        height: auto;
        margin-top: 5px;
    }
    .about .mobile-features .tab-content {
        margin-left: 0;
        width: auto;
        position: relative;
        padding: 0;
        margin-top: 30px;
        text-align: center
    }
    .feat-width {
        width: 33.3333%;
        float: left
    }
    .features .feat-center img {
        height: auto;
        position: static
    }
    .screenshots .owl-carousel .owl-item img {
        width: auto !important;
        height: 570px;
    }
    .screenshots .all-outer {
        margin-top: 50px
    }
    .screenshots .owl-theme .owl-nav {
        margin-top: 40px
    }
    .faqs .faqs-img img {
        margin-bottom: 50px
    }
    .about .mobile-features .features-slider:after {
        display: none
    }
    .header-content .bttn-head a:first-child {
        margin-bottom: 10px;
    }
    .phone-carousel {
        padding-top: 40px
    }
    .phone-carousel .owl-theme .owl-dots {
        top: 36%
    }
}


/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
    #home.cloud:after, .features:after, .video-app:after {
        margin-bottom: -2px;
    }
    .word {
	    justify-content: center;
    }
    .header-content .bttn-head a:first-child {
        margin: 0;
    }
    .pd-carousel .header-content .bttn-head a:first-child {
        margin-right: 20px;
    }
    .header-content .bttn-head a {
        margin: 10px 10px 0;
    }
    .screenshots .owl-theme .owl-nav {
        margin-top: 40px
    }
    .home-blog .blog-content h2 {
        font-size: 27px
    }
    .navbar-nav {
        background: -webkit-linear-gradient(-45deg, #f16a96, #f1836a);
        background: -moz-linear-gradient(-45deg, #f16a96, #f1836a);
        background: -o-linear-gradient(-45deg, #f16a96, #f1836a);
        background: linear-gradient(-45deg, #f16a96, #f1836a);
        margin-bottom: 0;
        margin-top: 0
    }
    .navbar-collapse {
        border: none;
        box-shadow: none
    }
    .top-nav-collapse {
        background: -webkit-linear-gradient(-45deg, #f16a96, #f1836a);
        background: -moz-linear-gradient(-45deg, #f16a96, #f1836a);
        background: -o-linear-gradient(-45deg, #f16a96, #f1836a);
        background: linear-gradient(-45deg, #f16a96, #f1836a);
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
    }
    /*  Header  */
    .header-content h1 {
        font-size: 40px;
    }
    .header-content h4 {
        font-size: 17px;
        line-height: 28px;
    }
    /*  About  */
    .about .mobile-features .features-slider:after {
        display: none
    }
    .owl-carousel .owl-item img {
        width: 100% !important
    }
    .about .mobile-features .features-slider {
        padding: 66px 26px 106px 18px;
    }
    .about .mobile-features .nav-pills>li>a {
        position: static;
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
    .about .mobile-features .nav-pills>li>a i {
        line-height: 40px;
    }
    .about .mobile-features .nav-stacked>li {
        float: none;
        display: inline-block;
        margin: 0 5px;
    }
    .about .mobile-features {
        padding: 0
    }
    .about .mobile-features .nav {
        padding: 0;
        float: none;
        text-align: center;
    }
    .about .mobile-features .features-slider.owl-carousel .owl-item img {
        height: auto;
        margin-top: 3px;
    }
    .about .mobile-features .tab-content {
        margin-left: 0;
        width: auto;
        position: relative;
        padding: 0;
        margin-top: 30px;
        text-align: center
    }
    /*  Features  */
    .features .feat-center img {
        position: static;
        height: auto
    }
    .features .feat-center {
        margin: 30px 0
    }
    /*  Screenshots  */
    .screenshots {
        padding: 100px 0
    }
    .screenshots .all-outer {
        margin-top: 50px
    }
    .video-app p {
        width: auto
    }
    .faqs .faqs-img img {
        height: auto;
        margin-bottom: 50px
    }
    .faqs .panel-title a {
        line-height: 27px
    }
    .header-inner {
        width: 100%;
        text-align: center;
    }
    .subscribe-box .subscribe-text h4 {
        line-height: 26px
    }
    .nav-sec .dropdown-toggle span {
        margin-left: 5px
    }
    .phone-carousel {
        padding-top: 40px
    }
    .phone-carousel .owl-theme .owl-dots {
        top: 36%
    }
    .pd-carousel .header-content .bttn a {
        margin: 20px 10px 0;
    }
    .pd-carousel .header-content .bttn a:first-child {
        margin: 0;
    }
    /* 404 Page */
    .text-not-found h1 {
        font-size: 8em;
    }
    .text-not-found h4 {
        font-size: 22px;
    }
    .text-not-found p {
        width: auto
    }
}

/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .header-content h4 {
        font-size: 20px;
        line-height: 36px;
    }
    .text-not-found p {
        width: 400px
    }
}