@font-face {
  font-family: 'wearandshare';
  src:  url('/fonts/wearandshare.eot?oxu4xy');
  src:  url('/fonts/wearandshare.eot?oxu4xy#iefix') format('embedded-opentype'),
    url('/fonts/wearandshare.ttf?oxu4xy') format('truetype'),
    url('/fonts/wearandshare.woff?oxu4xy') format('woff'),
    url('/fonts/wearandshare.svg?oxu4xy#wearandshare') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'wearandshare' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
  content: "\e900";
}
.icon-chat:before {
  content: "\e04a";
}
.icon-request:before {
  content: "\e066";
}
.icon-time:before {
  content: "\e081";
}
.icon-heart-outline:before {
  content: "\e08a";
}
.icon-location:before {
  content: "\e096";
}
.icon-arrow-thin-left:before {
  content: "\e605";
}
.icon-arrow-thin-right:before {
  content: "\e606";
}
.icon-arrow-thin-up:before {
  content: "\e607";
}
.icon-groups:before {
  content: "\e901";
}
.icon-share:before {
  content: "\e902";
}
.icon-logo-large:before {
  content: "\e903";
}
.icon-logo-small:before {
  content: "\e904";
}
.icon-envelope:before {
  content: "\e905";
}
.icon-twitter:before {
  content: "\e906";
}
.icon-facebook:before {
  content: "\e907";
}
.icon-bars:before {
  content: "\e908";
}
.icon-youtube:before {
  content: "\e909";
}
.icon-vimeo:before {
  content: "\e90a";
}
.icon-heart:before {
  content: "\e90b";
}
.icon-send:before {
  content: "\e90c";
}
.icon-arrow-thick-right:before {
  content: "\e90d";
}
.icon-arrow-thick-left:before {
  content: "\e90e";
}
.icon-arrow-thick-up:before {
  content: "\e90f";
}
.icon-circle:before {
  content: "\e910";
}
.icon-plus:before {
  content: "\e911";
}
.icon-minus:before {
  content: "\e912";
}
.icon-quotes-left:before {
  content: "\e977";
}
.icon-quotes-right:before {
  content: "\e978";
}
.icon-follow:before {
  content: "\e9b5";
}
.icon-discover:before {
  content: "\e9ce";
}
